body {
  background-color: lightgrey;
}

.js-show {
  display: none;
}

.logo-icon {
  background-image: url('../images/logo.png?sio-data-url=enabled');
  width: 162px;
  height: 30px;
  display: inline-block;
}
